<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/layout/fragments/head :: head}"></head>
<link rel="stylesheet" href="/css/collab/user/signup.css">
<body>
    <div id="pageContainer" class="column">
        <div id="container" class="column is-align-midst">
            <main class="content">
                <form id="addForm" class="content-form">
                    <div class="field is-grouped">
                        <div class="field">
                            <label for="name" class="label">이름</label>
                            <span class="text-field">
                                <input type="text" name="name" id="name" class="box input" autofocus>
                            </span>
                        </div>
                        <div class="field">
                            <label for="id" class="label">아이디</label>
                            <p class="help">영문과 숫자 조합의 4~20자</p>
                            <div class="has-addons">
                                <span class="text-field">
                                    <input type="text" name="id" id="id" class="box input">
                                </span>
                                <span class="btn is-primary">
                                    <button type="button" id="btnCheckId" class="box button">중복 확인</button>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="email" class="label">이메일</label>
                            <div class="has-addons">
                                <span class="text-field">
                                    <input type="text" name="email" id="email" class="box input">
                                </span>
                                <span class="btn is-primary">
                                    <button type="button" id="btnCheckEmail" class="box button">중복 확인</button>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label">비밀번호</label>
                            <p class="help">영문과 숫자, 특수문자 조합의 8~16자</p>
                            <span class="text-field">
                                <input type="password" name="password" id="password" class="box input" autocomplete="off">
                            </span>
                        </div>
                        <div class="field">
                            <label for="passwordConfirm" class="label">비밀번호 확인</label>
                            <span class="text-field">
                                <input type="password" name="passwordConfirm" id="passwordConfirm" class="box input" autocomplete="off">
                            </span>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="field">
                            <span class="btn is-primary">
                                <button type="button" id="btnAdd" class="box button">가입하기</button>
                            </span>
                        </div>
                        <div class="field has-text-link">
                            이미 계정을 가지고 있으시다면? <a href="/" role="link" class="is-text-link">로그인</a>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</body>
</html>