@charset "utf-8";

/**
 * 설명
 * 
 * @author      박 수 빈
 * @version     1.0
 */



#contents:has(#addForm) {
    width: 420px;
}


.has-addons {
    & > .input {
        margin-right: var(--spacing-xxxs);
    }

    & > .button {
        width: 102px;
    }
}




























































































































































































