@charset "utf-8";

/**
 * 설명
 * 
 * @author      박 수 빈
 * @version     1.0
 */



.content:has(#addForm) {
    width: 350px;
}


.has-addons {
    & > .text-field {
        margin-right: var(--space-xxxs);
    }

    & > .btn {
        width: 103px;
    }
}




























































































































































































